# Python
.venv/
.python-version
.ipynb_checkpoints/
__pycache__/
*.pyc
.cache.sqlite

# Data
data/
!data/*.gitkeep
data/gcp/*.json

#dbt
dbt/target
logs

# gpickle files
.gpickle

# Distribution folder
dist/
*.whl

# Env
.env
.envrc

# Local
local/

# vscode
.vscode/

# Mlflow
mlruns/
mlartifacts/
mlflow.db

# Airflow
airflow/config/
airflow/logs/

# Terraform
iac/.terraform/
iac/state_backups/

# Generated presentation artifacts
docs/.pptx_rendered/
